<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="login.service.mapper.LoginMapper">	<!-- mapper 인터페이스가 위치하는 경로 -->

    <select id="loginUser" resultType="login.service.LoginDTO">
        SELECT id AS userID
             , name
             , number
        FROM tb_member
        WHERE number = #{number}
    </select>
</mapper>