<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zarangzill.zarangzill_back.board.service.mapper.BoardMapper">    <!-- mapper 인터페이스가 위치하는 경로 -->

    <sql id="selectBoard">
        SELECT
            id
             , subject
             , description
             , type
             , flag_push
             , flag_use
             , creator
             , DATE_FORMAT(created_at, '%Y-%m-%d %H:%i') AS created_at
             , editor
             , DATE_FORMAT(updated_at, '%Y-%m-%d %H:%i') AS updated_at
        FROM zarangzill.tb_board
    </sql>

    <select id="selectBoardList" parameterType="HashMap" resultType="HashMap">
        <include refid="selectBoard"/>
        <where>
            <if test='id != null and id != ""'>
                AND id = #{id}
            </if>
            <if test='type != null and type != ""'>
                AND type = #{type}
            </if>
            <if test='startSrchDate != null and startSrchDate != "" and endSrchDate != null and endSrchDate != ""'>
                AND DATE_FORMAT(created_at, '%y-%m-%d') BETWEEN #{startSrchDate} AND #{endSrchDate}
            </if>

        </where>
        ORDER BY updated_at DESC, created_at DESC
    </select>

    <select id="selectBoardInfo" parameterType="HashMap" resultType="com.zarangzill.zarangzill_back.board.service.BoardDTO">
        <include refid="selectBoard"/>
        <where>
            <if test='id != null and id != ""'>
                AND id = #{id}
            </if>
            <if test='type != null and type != ""'>
                AND type = #{type}
            </if>
        </where>
        ORDER BY updated_at DESC, created_at DESC
    </select>

    <update id="updateBoard" parameterType="com.zarangzill.zarangzill_back.board.service.BoardDTO">
        UPDATE zarangzill.tb_board
        SET
            editor = #{editor}
            , updated_at = sysdate()
        <if test='subject != null and subject != ""'>
            , subject = #{subject}
        </if>
        <if test='description != null and description != ""'>
          , description = #{description}
        </if>
        <if test='type != null and type != ""'>
          , type = #{type}
        </if>
        <if test='flag_push != null and flag_push != ""'>
          , flag_push = #{flag_push}
        </if>
        <if test='flag_use != null and flag_use != ""'>
          , flag_use = #{flag_use}
        </if>
        WHERE id =  #{id}
    </update>

    <delete id="deleteBoard" parameterType="com.zarangzill.zarangzill_back.board.service.BoardDTO">
        DELETE
        FROM zarangzill.tb_board
        WHERE id = #{id}
    </delete>

    <insert id="createBoard" parameterType="com.zarangzill.zarangzill_back.board.service.BoardDTO">
        INSERT INTO zarangzill.tb_board
        (subject, description, type, flag_push, flag_use, creator, created_at)
        VALUES
            (#{subject}, #{description}, #{type}, #{flag_push}, #{flag_use}, #{creator}, sysdate());

    </insert>

    <select id="selectBoardListWithBoardReply" parameterType="HashMap" resultType="HashMap">
        SELECT
            A.id
             , A.subject
             , A.description
             , A.type
             , A.flag_push
             , A.flag_use
             , A.creator
             , DATE_FORMAT(A.created_at, '%Y-%m-%d %H:%i') AS created_at
             , A.editor
             , DATE_FORMAT(A.updated_at, '%Y-%m-%d %H:%i') AS updated_at
             , B.reply_description
             , DATE_FORMAT(B.created_at, '%Y-%m-%d %H:%i') AS r_created_at
             , DATE_FORMAT(B.updated_at, '%Y-%m-%d %H:%i') AS r_updated_at
        FROM zarangzill.tb_board A
                 Left Join zarangzill.tb_board_reply B ON A.id = B.board_id
        <where>
            <if test='type != null and type != ""'>
                AND type = #{type}
            </if>
            <if test='startSrchDate != null and startSrchDate != "" and endSrchDate != null and endSrchDate != ""'>
                AND DATE_FORMAT(created_at, '%y-%m-%d') BETWEEN #{startSrchDate} AND #{endSrchDate}
            </if>
        </where>
    </select>
</mapper>