<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zarangzill.zarangzill_back.board.service.mapper.BoardReplyMapper">    <!-- mapper 인터페이스가 위치하는 경로 -->

    <sql id="selectBoardReply">
        SELECT
            id
             , board_id
             , reply_description
             , flag_use
             , creator
             , DATE_FORMAT(created_at, '%Y-%m-%d %H:%i') AS created_at
             , editor
             , DATE_FORMAT(updated_at, '%Y-%m-%d %H:%i') AS updated_at
        FROM zarangzill.tb_board_reply
    </sql>

    <select id="selectBoardReplyList" parameterType="HashMap" resultType="HashMap">
        <include refid="selectBoardReply"/>
        <where>
            <if test='id != null and id != ""'>
                AND id = #{id}
            </if>
            <if test='board_id != null and board_id != ""'>
                AND board_id = #{board_id}
            </if>
            <if test='type != null and type != ""'>
                AND type = #{type}
            </if>
            <if test='startSrchDate != null and startSrchDate != "" and endSrchDate != null and endSrchDate != ""'>
                AND DATE_FORMAT(created_at, '%y-%m-%d') BETWEEN #{startSrchDate} AND #{endSrchDate}
            </if>

        </where>
        ORDER BY updated_at DESC, created_at DESC
    </select>

    <select id="selectBoardReplyInfo" parameterType="HashMap" resultType="com.zarangzill.zarangzill_back.board.service.BoardReplyDTO">
        <include refid="selectBoardReply"/>
        <where>
            <if test='id != null and id != ""'>
                AND id = #{id}
            </if>
            <if test='board_id != null and board_id != ""'>
                AND board_id = #{board_id}
            </if>
            <if test='type != null and type != ""'>
                AND type = #{type}
            </if>
        </where>
        ORDER BY updated_at DESC, created_at DESC
    </select>

    <update id="updateBoardReply" parameterType="com.zarangzill.zarangzill_back.board.service.BoardReplyDTO">
        UPDATE zarangzill.tb_boardReply
        SET
            editor = #{editor}
            , updated_at = sysdate()
        <if test='reply_description != null and reply_description != ""'>
          , reply_description = #{reply_description}
        </if>
        <if test='flag_use != null and flag_use != ""'>
          , flag_use = #{flag_use}
        </if>
        WHERE id =  #{id}
    </update>

    <delete id="deleteBoardReply" parameterType="com.zarangzill.zarangzill_back.board.service.BoardReplyDTO">
        DELETE
        FROM zarangzill.tb_boardReply
        WHERE id = #{id}
    </delete>

    <insert id="createBoardReply" parameterType="com.zarangzill.zarangzill_back.board.service.BoardReplyDTO">
        INSERT INTO zarangzill.tb_boardReply
        (board_id, reply_description, flag_use, creator, created_at)
        VALUES
            (#{board_id}, #{reply_description}, #{flag_use}, #{creator}, sysdate());

    </insert>
</mapper>