<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zarangzill.zarangzill_back.board.service.mapper.BoardMapper">    <!-- mapper 인터페이스가 위치하는 경로 -->

    <sql id="selectBoard">
        SELECT
            A.id AS board_id
             , A.subject
             , A.description
             , A.type
             , A.flag_push
             , A.flag_use
             , A.creator
             , DATE_FORMAT(A.created_at, '%Y-%m-%d %H:%i') AS created_at
             , A.editor
             , DATE_FORMAT(A.updated_at, '%Y-%m-%d %H:%i') AS updated_at
             , CASE WHEN (SELECT count(1) FROM zarangzill.tb_board_reply WHERE board_id = A.id) > 0 THEN 'Y' ELSE 'N' END AS reply_yn
        FROM zarangzill.tb_board A
    </sql>

    <select id="selectBoardList" parameterType="HashMap" resultType="HashMap">
        <include refid="selectBoard"/>
        WHERE A.flag_use = 'Y'
            <if test='board_id != null and board_id != ""'>
                AND A.id = #{board_id}
            </if>
            <if test='type != null and type != ""'>
                AND A.type = #{type}
            </if>
            <if test='startSrchDate != null and startSrchDate != "" and endSrchDate != null and endSrchDate != ""'>
                AND DATE_FORMAT(A.created_at, '%y-%m-%d') BETWEEN #{startSrchDate} AND #{endSrchDate}
            </if>


        ORDER BY A.updated_at DESC, A.created_at DESC
    </select>

    <select id="selectBoardInfo" parameterType="HashMap" resultType="com.zarangzill.zarangzill_back.board.service.BoardDTO">
        <include refid="selectBoard"/>
        <where>
            <if test='board_id != null and board_id != ""'>
                AND id = #{board_id}
            </if>
            <if test='type != null and type != ""'>
                AND type = #{type}
            </if>
        </where>
    </select>

    <update id="updateBoard" parameterType="com.zarangzill.zarangzill_back.board.service.BoardDTO">
        UPDATE zarangzill.tb_board
        SET
            editor = #{editor}
            , updated_at = sysdate()
        <if test='subject != null and subject != ""'>
            , subject = #{subject}
        </if>
        <if test='description != null and description != ""'>
          , description = #{description}
        </if>
        <if test='type != null and type != ""'>
          , type = #{type}
        </if>
        <if test='flag_push != null and flag_push != ""'>
          , flag_push = #{flag_push}
        </if>
        <if test='flag_use != null and flag_use != ""'>
          , flag_use = #{flag_use}
        </if>
        WHERE id =  #{board_id}
    </update>

    <delete id="deleteBoard" parameterType="com.zarangzill.zarangzill_back.board.service.BoardDTO">
        DELETE
        FROM zarangzill.tb_board
        WHERE id = #{board_id}
    </delete>

    <insert id="createBoard" parameterType="com.zarangzill.zarangzill_back.board.service.BoardDTO">
        INSERT INTO zarangzill.tb_board
        (subject, description, type, flag_push, flag_use, creator, created_at)
        VALUES
            (#{subject}, #{description}, #{type}, #{flag_push}, #{flag_use}, #{creator}, sysdate());

    </insert>

    <sql id="fromFan">
        FROM tb_board A
                 Inner Join tb_channel B ON A.type_id = B.id
                 Inner Join tb_channel_fan C ON B.id = C.channel_id
    </sql>
    <select id="selectFanBoardList" parameterType="java.util.HashMap" resultType="java.util.HashMap">
        SELECT
            A.id AS board_id
            , A.description AS board_description
            , A.flag_use AS board_flag_use
            , B.id AS channel_id
            , B.name AS channel_name
            , B.profile_image AS channel_profile_image
            , DATEDIFF(SYSDATE(), IFNULL(A.updated_at ,A.created_at)) AS date_diff
        <include refid="fromFan"/>
        <where>
            <if test='board_id != null and board_id != ""'>
                AND A.id = #{board_id}
            </if>
            <if test='channel_id != null and channel_id != ""'>
                AND B.id = #{channel_id}
            </if>
            <if test='user_id != null and user_id != ""'>
                AND C.user_id = #{user_id}
            </if>
        </where>
    </select>

    <select id="selectFanBoardReplyList" parameterType="java.util.HashMap" resultType="java.util.HashMap">
        SELECT
        A.id AS board_id
        , A.subject
        , A.description AS board_description
        , A.flag_use AS board_flag_use
        , B.id AS channel_id
        , B.name AS channel_name
        , B.profile_image AS channel_profile_image
        , DATEDIFF(SYSDATE(), IFNULL(A.updated_at ,A.created_at)) AS date_diff
        , D.id AS reply_id
        , D.reply_description
        , D.flag_use AS reply_flag_use
        , D.creator AS reply_creator
        <include refid="fromFan"/>
        Inner Join tb_board_reply D ON A.id = D.board_id
        WHERE D.creator = #{user_id}
        AND C.user_id = #{user_id}
            <if test='board_id != null and board_id != ""'>
                AND A.id = #{board_id}
            </if>
            <if test='channel_id != null and channel_id != ""'>
                AND B.id = #{channel_id}
            </if>
            <if test='user_id != null and user_id != ""'>
                AND C.user_id = #{user_id}
            </if>
    </select>

    <select id="selectFanBoardInfo" parameterType="java.util.HashMap" resultType="java.util.HashMap">
        SELECT
            A.id AS board_id
            , A.description AS board_description
            , A.flag_use AS board_flag_use
            , B.id AS channel_id
            , B.name AS channel_name
            , B.profile_image AS channel_profile_image
            , DATEDIFF(SYSDATE(), IFNULL(A.updated_at ,A.created_at)) AS date_diff
        <include refid="fromFan"/>
        <where>
            <if test='board_id != null and board_id != ""'>
                AND A.id = #{board_id}
            </if>
            <if test='channel_id != null and channel_id != ""'>
                AND B.id = #{channel_id}
            </if>
            <if test='user_id != null and user_id != ""'>
                AND C.user_id = #{user_id}
            </if>
        </where>
    </select>

</mapper>