<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ShotformDAO">	<!-- mapper 인터페이스가 위치하는 경로 -->

    <insert id="insertVideoUserFav" parameterType="com.zarangzill.zarangzill_back.shortform.service.ShotformDTO">

        INSERT INTO tb_video_favorite (
            id,
            video_id,
            user_id,
            flag_use,
            created_at,
            updated_at)
        VALUES(
               (select max(IFNULL(id,0)) + 1 from tb_video_favorite)
              #{videoId},
              #{userId},
              #{flagUse},
              NOW(),
              NOW()
          ) ON DUPLICATE KEY UPDATE flag_use = #{flagUse}
    </insert>

    <select id="selectVideoCountInfo" parameterType="com.zarangzill.zarangzill_back.shortform.service.ShotformDTO" resultType="java.util.HashMap">

        select
            (select count(*) from tb_video_reply tvr where tvr.video_id = #{videoId} and tvr.flag_use = 'Y') as reply_cnt
             , (select count(*) from tb_video_favorite tvf where tvf.video_id = #{videoId} and tvf.flag_use = 'Y') as favorite_cnt
    </select>

    <select id="selectCheckUserVideoFav" parameterType="com.zarangzill.zarangzill_back.shortform.service.ShotformDTO" resultType="java.util.HashMap">

        SELECT IFNULL(flag_use,"N") AS flag_use
          FROM tb_video_favorite
         WHERE video_id  = #{videoId}
           AND user_id  = #{userId}
    </select>


    <insert id="insertUserViewHistory" parameterType="com.zarangzill.zarangzill_back.shortform.service.ShotformDTO">

        INSERT INTO tb_user_view_history (
            video_id,
            user_id,
            view_date,
            created_at
        )
        VALUES(
            #{videoId},
            #{userId},
            NOW(),
            NOW()
        )
    </insert>

</mapper>
