<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ReplyDAO">	<!-- mapper 인터페이스가 위치하는 경로 -->

    <select id="selectVideoReplyList" parameterType="com.zarangzill.zarangzill_back.video.reply.service.ReplyDTO" resultType="java.util.HashMap">
        SELECT tm.name as member_name
             , tm.profile_image
             , tvr.id as reply_id
             , DATE_FORMAT(tvr.created_at, '%Y-%m-%d %H:%i:%s') as created_at
             , tvr.description
             , tvr.user_id as reply_creator_id
             , IFNULL(tr.id,'') as report_id
         FROM tb_video tv
             LEFT OUTER JOIN tb_video_reply tvr on tv.id  = tvr.video_id
             LEFT OUTER JOIN tb_member tm on tm.id = tvr.user_id
             LEFT OUTER JOIN tb_report tr on tvr.user_id = tr.report_target_id
         WHERE tv.flag_use = 'Y'
           AND tv.id = #{videoId}
         ORDER BY tvr.created_at
    </select>
    <select id="selectVideoReplyListByMypage" parameterType="java.util.HashMap" resultType="java.util.HashMap">
        SELECT
             A.id AS reply_id
             , A.flag_use AS reply_flag_use
             , A.description AS reply_description
             , A.user_id as reply_creator_id
             , B.flag_use AS video_flag_use
             , B.video_path
             , B.video_thumbnail
             , B.video_description
             , REPLACE(B.video_tags, ',',' ') AS video_tags
             , D.name AS userNm
             , D.profile_image
        FROM zarangzill.tb_video_reply A
            Left Join zarangzill.tb_video B ON A.video_id = B.id
            Left Join zarangzill.tb_channel C ON B.channel_id = C.id
            Left Join zarangzill.tb_member D ON C.user_id = D.id
        WHERE A.user_id = #{user_id}
        ORDER BY A.updated_at DESC, A.created_at DESC
    </select>
    <insert id="insertVideoReply" parameterType="com.zarangzill.zarangzill_back.video.reply.service.ReplyDTO">
        INSERT INTO tb_video_reply (
                video_id,
                description,
                user_id,
                flag_use,
                created_at,
                updated_at
        )
        VALUES(
               #{videoId}
             , #{replyDescription}
             , #{userId}
             , #{flagUse}
             , NOW()
             , NOW()
        )
    </insert>


    <update id="updateVideoReply" parameterType="com.zarangzill.zarangzill_back.video.reply.service.ReplyDTO">
        UPDATE tb_video_reply
           SET flag_use = #{flagUse}
              ,updated_at = NOW()
         WHERE id = #{reply_id}
    </update>

</mapper>
